.sidebar {
  width: 300px;
  min-width: 300px;
  height: 100vh;
  background-color: #171717;
  color: #b4b4b4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #30363d;
}

.activeThread {
  background-color: #444;
  font-weight: bold;
}

button {
  height: 50px;
  margin: 5px;
  border-radius: 9px;
  border: 1px solid white;
  background-color: #171717;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

button:hover {
  background-color: rgba(64, 64, 66, 0.776);
  cursor: pointer;
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 40%;
  margin-left: 5px;
  object-fit: cover;
}

.history {
  padding: 10px;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.history li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.history li:hover {
  background-color: rgba(111, 111, 111, 0.776);
  color: white;
}

.fa-trash {
  opacity: 0;
}

.history li:hover .fa-trash {
  opacity: 1;
}

.sign {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}